<?xml version='1.0' encoding='UTF-8'?>
<plugin
    id="cordova-plugin-safariviewcontroller"
    version="1.4.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>SafariViewController</name>

  <author>Eddy Verbruggen</author>

  <description>
    Forget InAppBrowser for iOS - this is way better for displaying read-only web content in your PhoneGap app.
  </description>

  <keywords>InAppBrowser, InAppSafariBrowser, Safari, Safari ViewController</keywords>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module name="SafariViewController" src="www/SafariViewController.js">
    <clobbers target="SafariViewController"/>
  </js-module>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="SafariViewController">
        <param name="ios-package" value="SafariViewController"/>
      </feature>
    </config-file>

    <header-file src="src/ios/SafariViewController.h"/>
    <source-file src="src/ios/SafariViewController.m"/>

    <framework src="SafariServices.framework" weak="true"/>
  </platform>

</plugin>
